/* Estilos de la HOME */

body {

    display: block;
    justify-content: space-around;


}


h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(163, 214, 243)
}

h5 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(107, 153, 239);

}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   

}



/* Estilos de la NAV */

.titulo {
    margin: 0 auto;
    font-size: larger;
  }

  .container-fluid {
    background-color: rgb(107, 153, 239);
    
  }



/* IMAGEN CENTRAL */ 

.imagenHome{ 
margin-bottom: 10px;

}


/* PILARES DE LA MARCA */

.pilares  { 

    margin-top: 10px;

}
.tablaPilares td {

    border-style: double;
    border: 1px solid;
    background-color: azure;

}


li {

    display: inline-flex;
    justify-content: space-between;
    border: solid 0px black;
    ;

}

ul {
    border: solid 0px black;
    justify-content: space-around;
    display: flex;

}

tr td p {
    display: flex;
    justify-content: center;
}


/* FELICIDAD DE LOS CLIENTES */

.opiniones {

    margin-top: 10px;
}

.felicidad {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}




footer {

    background-color: rgb(163, 214, 243);
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;

}

#pieColumnas {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
    column-gap: 10px;
}

#datosCol1 {

    background-color: white;
    padding-block: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#listaCol1 {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
}

ul {

    padding-left: 5px;
    padding-right: 10px;

}


#fotoCol2 {

    width: 400px;
    height: 250px;
}



#datosCol2 {

    background-color: white;
    padding-block: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}





#datosCol3 {

    background-color: white;
    padding-block: 5px;
}


/*  Pesta単a Nuestros Piletas y Acesorios */

.pestanaPiletas {

    margin-top: 100px;
    background-color: rgb(163, 214, 243);

}

.principal {
    display: flex;
    flex-direction: column;
}

.principal * {
    margin: 0;
    padding: 0;
}




.filaSuperior {
    display: flex;
    flex-direction: row;
    border-color: red;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
}

.filaInferior {
    display: flex;
    flex-direction: row;
    border-color: black;
    align-items: center;
    justify-content: space-around;

}

/*  Pesta単a Nuestros Piletas */

.fila1Cuadro1,
.fila1Cuadro2,
.fila1Cuadro3,
.fila2Cuadro1,
.fila2Cuadro2,
.fila2Cuadro3 {

    border: solid;
    border-color: red;
    width: 30%;
    height: 200px;


}


.imagenFila1Cuadro1,
.imagenFila1Cuadro2,
.imagenFila1Cuadro3,
.imagenFila2Cuadro1,
.imagenFila2Cuadro2,
.imagenFila2Cuadro3 {

    width: 100%;
    height: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.imagenFila1Cuadro1 {

    background-image: url(../imagenes/pileta1.jfif);


}

.imagenFila1Cuadro2 {

    background-image: url(../imagenes/pileta2.jfif);

}

.imagenFila1Cuadro3 {

    background-image: url(../imagenes/pileta3.jfif);

}

.imagenFila2Cuadro1 {

    background-image: url(../imagenes/pileta4.jfif);


}

.imagenFila2Cuadro2 {

    background-image: url(../imagenes/pileta5.jfif);


}

.imagenFila2Cuadro3 {

    background-image: url(../imagenes/pileta6.jfif);


}

/*  Pesta単a  Acesorios */


.acFila1Cuadro1,
.acFila1Cuadro2,
.acFila1Cuadro3,
.acFila2Cuadro1,
.acFila2Cuadro2,
.acFila2Cuadro3 {

    border: solid;
    border-color: red;
    width: 30%;
    height: 200px;

}


.imagenAcFila1Cuadro1,
.imagenAcFila1Cuadro2,
.imagenAcFila1Cuadro3,
.imagenAcFila2Cuadro1,
.imagenAcFila2Cuadro2,
.im {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.imagenAcFila1Cuadro1 {
    background-image: url(../imagenes/accesorio1.jpg);
    width: 60%;
    height: 60%;

}

.imagenAcFila1Cuadro2 {
    background-image: url(../imagenes/acceso2.jpg);
    width: 60%;
    height: 60%;

}

.imagenAcFila1Cuadro3 {
    background-image: url(../imagenes/accesorio3.jpg);
    width: 60%;
    height: 60%;

}

.imagenAcFila2Cuadro1 {
    background-image: url(../imagenes/accesorio4.jpg);
    width: 60%;
    height: 60%;

}

.imagenAcFila2Cuadro2 {
    background-image: url(../imagenes/accesorio5.jpg);
    width: 60%;
    height: 60%;

}


.imagenAcFila2Cuadro3 {
    background-image: url(../imagenes/accesorio6.jpg);
    width: 60%;
    height: 60%;

}


/*  Pesta単a Nuestros Trabajos */

.nuestrosFabrica {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;


}

.nFabrica1,
.nFabrica2 {

    width: 50%;

}