/* FOOTER */
#pieColumnas {
    display: flex;
    width: 100%;
    margin-top: 10px;
    column-gap: 40px;
    font-size: smaller;
    color: revert;
    background-color: aliceblue;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  #datosCol1 {
    padding-block: 5px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }