/* Estilos de la NAV RESOLUCION WEB-TABLET*/
.titulo {
    margin: 0 auto;
    font-size: larger;
  }
  
  .container-fluid {
    background-color: rgb(107, 153, 239);
  }
  


/* Estilos de la NAV RESOLUCION MOVIL */


  body { 

    padding: 0;
    margin: 0;
    box-sizing: border-box;

    }


   

 @media screen and (max-width:400px) {
      .navbar-celularoff,
      .nav-opciones { 
          display: none;
          padding-top: 16px;
          padding-bottom: 16px;
  
      }
  
      #imagenHome {

        padding-top: 45px;
      }
     
      }




@media screen and (min-width:400px) {
    .navbar-celular { 
        display: none;
               
    }
   
   
    }


  
    .navbar-celular { 
      
      padding: 0;
    }
      

.foto { 

    width: 30px;
    height: 30px;
}

.nav-espacio{
    padding: 16px 0;
     }

.offcanvas-header { 

  background-color:  rgb(107, 153, 239);
}

.offcanvas-body {

background-color: azure;

}