/*  Pestaña Nosotros */
@media (min-width: 390px) {
    .d-md-block {
      display: block !important;
    }
  }
  .containerNosotros {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  @media screen and (max-width:400px) {
    .carousel-inner { 

     
      padding-top: 50px;
    }
   
         
    }