/*  Pestaña  Presupuesto */

.prepuesto {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  } 
  
  .row
   {
  
    margin: auto;
  }
  
  /*  Pestaña  Presupuesto resolucion Movil */

  @media screen and (min-width:400px) {
    .presupuesto-movil { 

      padding-top: 0;
    }
   
   
    }

    @media screen and (max-width:400px) {
      .presupuesto-movil { 

       
        padding-top: 40px;
      }
     
           
      }